/* src/styles/core/_variables.scss */

:root {
  --background-color: #ffffff;
  --text-color: #000000;
  --primary-color: #3498db;
  --secondary-color: #2ecc71;
  --link-hover-color: #747bff;
  --button-background-color: #f9f9f9;
}

.dark {
  --background-color: #121212;
  --text-color: #ffffff;
  --primary-color: #2980b9;
  --secondary-color: #27ae60;
  --link-hover-color: #646cff;
  --button-background-color: #1a1a1a;
}
