/* src/styles/main.scss */

// Core styles (order matters)
@use "core/reset";
@use "core/variables" as *;
@use "core/globals" as *;

// Components (uncomment as needed)
/* @use 'layouts/Navbar/Navbar';
@use 'layouts/Footer/Footer';
@use 'layouts/Home/Home';
@use 'components/Section/Section'; */
