/* src/layouts/Layout.scss */

.layout-container {
  display: flex;
  flex-direction: column;
  /* min-height: 100vh; */
  width: 100%;
  margin: 0 auto;
}

.main-content {
  flex: 1; /* expand main content to fill available space */
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}
