/* src/layouts/Footer/Fotter/Footer.scss */

/* @import "../../styles/variables"; */

.footer {
  text-align: center;
  padding: 1rem;
  background-color: var(--background-color);
  color: var(--text-color);
}
